
.env
venv/
*.sqlite3
.history/
.pytest_cache
__pycache__/
.coverage
htmlcov
**/logs/**
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.idea/
celery.log
celerybeat-schedule
.vscode/
setup.cfg
celerybeat.pid
app/core/logs/debug.log
app/core/logs/celery.log
app/logs/debug.log
app/logs/celery.log

